<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span4">
		<p>
		  <b>Name:</b>
		  <%= @user.name %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @user.email %>
		</p>
	</div>
	<div class="span8">
		<% if !@playlists.empty? %>
			<table class="table">
			  <tr>
			    <th>Title</th>
			    <th></th>
			  </tr>

			<% @playlists.each do |playlist| %>
			  <tr>
			    <td><%= playlist.title %></td>
			    <td><%= link_to 'Show', select_playlist_path(playlist) %></td>
			  </tr>
			<% end %>
			</table>
		<% else %>
			<div class="hero-unit">Sorry, we cannot find any playlists of <%= @user.name %>.</div>
		<% end %>	
	</div>
</div>

<%= link_to 'Back', run_path %>
