<div class="panel panel-default">	
	<div class="panel-heading">
		User - <%= link_to raw('Edit <i class="icon-edit"></i>'), edit_user_path(current_user) %>
	</div>
	<div class="panel-body">
		<p>
		  <b>Name:</b>
		  <%= current_user.name %>
		</p>
		<p>
		  <b>Email:</b>
		  <%= current_user.email %>
		</p>
	</div>
</div>

<h2>Your Playlists <%= link_to raw('New Playlist <i class="icon-plus"></i>'), new_playlist_path, :class => "btn btn-link" %></h2>
<% if !@playlists.empty? %>
	<table class="table user-playlist-table">
	  <tr>
	    <th>Title</th>
	    <th>Published</th>
	    <th></th>
	  </tr>

	<% @playlists.each do |playlist| %>
	  <tr>
	    <td>
	    	<%= link_to raw('<i class="icon-edit"></i> '+playlist.title), edit_playlist_path(playlist) %>
	    </td>
	    <td><input type="checkbox" disabled <%= (playlist.published)? "checked": "" %> value=""></td>
	    <td><%= link_to 'Play', select_playlist_path(playlist), :class => "btn btn-link" %>
	    	<%= link_to 'Show', playlist_path(playlist), :class => "btn btn-link" %>
	   		<%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<div class="well well-lg">Sorry, we cannot find any playlists of you.</div>
<% end %>	

<%= link_to 'Your History', history_users_path, :class => "btn-link" %>

