<% @yt_videos.each do |video|
     title = video.title.split('-', 2)
     videotitle = (title.length == 2)? {:title => title[1], :author => title[0]} : {:title => title[0], :author => ""}

     playlist = (!session[:playlist].nil?)? session[:playlist].id : 0
%>
  <li id="yt:<%= video.unique_id %>" class="clearfix">
    <div class="search-thumbnail pull-left">
      <%= image_tag(video.thumbnails[0].url, :size=>"60x60") %>
    </div>
    <div>
        <p class="pull-right">
         <%= link_to raw("&times;"), "playlists/"+playlist.to_s+"/remove/yt:" + video.unique_id,:remote=>true, :class=>"close" %>          
         <%= link_to raw("<i class='icon-plus-sign'></i>"), "playlists/"+playlist.to_s+"/add/yt:" + video.unique_id,:remote=>true, :class=>"btn btn-small add-song-btn" %>          
          <span title="start playing..." class="btn btn-small play-song-btn"><i class='icon-play'></i></span>
        </p>
      <p class="truncate artistname"><%= videotitle[:author]%></p>
      <p class="truncate songtitle">
        <%= link_to videotitle[:title], song_path("yt:" + video.unique_id), :remote => true %>
      </p>
    </div>
  </li>
<% end %>
