<div class="col-md-4 playlist">
  <h3>Playlist
   	<% if !session[:playlist].nil? %>
  		 	<span class="playlist-title">
         - <%= link_to session[:playlist].title, playlist_path(session[:playlist].id), class: "btn-link" %>
        </span>
  	<% end %>
  </h3>
   
	<% if logged_in %>  
	  <%= form_tag(playlists_path(format: :json), remote: true, :class=>"new_playlist") do |f| %>
	  	<button class="btn btn-inverse btn-small"><i class="icon-white icon-plus icon-large"></i></button>
	  	<%= text_field_tag 'playlist[title]', nil, placeholder: 'Enter Playlist Title...' %>
	  <% end %>
	<% end %>

  <ul class="search-results list-unstyled playlist-small">
   <% if @playlist_entries.nil? %>
    <li class="placeholder">Playlist ist leer...</li>
   <% else %>
    <% @playlist_entries.each do |entry| %>
      <li class="clearfix" data-song-id="<%= entry.song.sid %>" data-entry-id="<%= entry.id %>">
        <div class="search-thumbnail thumbnail pull-left">
         
          <i class='icon-play-circle icon-large'></i>
        </div>
        <div>
            <p class="pull-right">
             <%= link_to raw("&times;"), playlist_playlist_entry_remove_path(session[:playlist].id, entry.id), 
                    :method => :delete, :remote=>true, :class=>"close" %> 
                     
             <%= link_to raw("<i class='icon-plus-sign'></i>"), "playlists/addSong/" + entry.song.sid, :remote=>true, :class=>"btn btn-small add-song" %>          
              <span title="start playing..." class="btn btn-small play-song"><i class='icon-play'></i></span>
            </p>
          <p class="truncate artistname"><%= entry.song.artist %></p>
          <p class="truncate songtitle">
            <%= link_to entry.song.title, song_path(entry.song.sid), :remote => true %>
          </p>
        </div>
      </li>
    <% end %>
   <% end %>
  </ul>
</div>
