<p id="notice label label-warning"><%= notice %></p>

<div class="row">
  <div class="span4">
    <p>
      <b>Tilte:</b>
      <%= @playlist.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @playlist.description %>
    </p>

    <p>
      <b>User:</b>
      <%= @username %>
    </p>

    <p>
      <b>Published:</b>
      <input type="checkbox" disabled <%= (@playlist.published)? "checked": "" %> value="">
    </p>

    <p>
      <b>created at:</b>
      <%= @playlist.created_at %>
    </p>
  </div>
  <div class="span8">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
      </tr>

    <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= song.title %></td>
        <td><%= link_to 'Show', song_path(song.sid) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
