<div class="row">
  <div class="col-md-4">
    <p>
      <b>Tilte:</b>
      <%= @playlist.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @playlist.description %>
    </p>

    <p>
      <b>User:</b>
      <%= @username %>
    </p>

    <p>
      <b>Published:</b>
      <input type="checkbox" disabled <%= (@playlist.published)? "checked": "" %> value="">
    </p>

    <p>
      <b>created at:</b>
      <%= @playlist.created_at %>
    </p>
  </div>
  <div class="col-md-8">
    <%= will_paginate @playlist_entries, renderer: BootstrapPagination::Rails %>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
      </tr>

    <% @playlist_entries.each.with_index do |entry, number| %>
      <tr>
        <td><%= number + 1 + @playlist_entries.offset %></td>
        <td><%= entry.song.artist %> - <%= entry.song.title %></td>
        <td><%= link_to 'Show', song_path(entry.song.sid), :class => "btn btn-link" %>
            <%= link_to 'Remove', playlist_playlist_entry_remove_path(@playlist, entry.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_playlist_path(@playlist), :class => "btn btn-link" %>
<%= link_to 'Play', select_playlist_path(@playlist), :class => "btn btn-link" %>
<%= link_to 'Back', playlists_path, :class => "btn btn-link" %>
