<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">

    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
          
    <%= link_to "YouMixr Alpha 0.1", 'home', :class=>"brand" %>
    <div class="pull-left">
    <%= form_tag(search_songs_path, :id => "search-form",:remote => true, :class => "navbar-form pull-left search-form-header") do -%>
      <div class="input-append">
      	<input class="span3" name="song_search" id="appendedInputButton" placeholder="Search" type="text">
      	<button class="btn" type="submit">Go!</button>
      </div>
    <% end %>
    <div class="pull-right player">
      <button class="btn btn-inverse btn-play">
        <i class="icon-play icon-white"></i>
      </button>
      <button class="btn btn-inverse btn-forward">
        <i class="icon-step-forward icon-white"></i>
      </button>
      <span class="songtitle"></span>      
      <div id="ytPlayer" class="hidden-player"></div>
      <div id='progressbar'></div>
   </div>
    </div>
    <nav class="nav-collapse collapse">
      <ul class="nav pull-right">
        <li><%= link_to "Home",    'home' %></li>
        <li><%= link_to "Help",    'help' %></li>
        <li><%= link_to "register", new_user_path %></li>
        <li><% if current_user.nil? %>
              <%= link_to "Sign in", new_session_path %>
            <% else %>
              Eingeloggt als <%= current_user.name %>.
              <%= link_to "Logout", session_path( session ), :method => :delete %>
            <% end %></li>
      </ul>
    </nav><!--/.nav-collapse -->
           
  </div>
</header>
