<!DOCTYPE html>
<html>
<head>
  <title>ymixr - Alpha 0.2 </title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  

</head>
<body>
  <%= render "layouts/header" %>
  <div class="container" id="mainframe">
   
   <div class="row">
      <div class="hidden-player">
        <div id="ytPlayer"></div>
        <div id="viPlayer"></div>
      </div>
      <% if notice %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> <%= notice %>
        </div>
      <% end %>
    </div>
    
    <div class="row">
      <%= yield %>
    </div>

  </div><!--/.container-->    
  <%= render "layouts/footer" %>
</body>
<script>
      // 2. This code loads the Youtube IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script> 


<script src="https://connect.soundcloud.com/sdk.js"></script>
<script>
  SC.initialize({
    client_id: "4534af5d3c15ffc9c03f4ee826ad5265"
  });

  function gapiOnLoad(){
    gapi.client.setApiKey('AIzaSyCTTUzmudt7NUSeoR03piIcWW1kA7ocUQI');
    gapi.client.load('youtube', 'v3', function() { 
        gapiLoaded = true; 
        ytLoadThumbnails();
    });    
  }

</script>
<script src="https://apis.google.com/js/client.js?onload=gapiOnLoad"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
</html>
